<!DOCTYPE HTML>
<html>

<head>
    <title>Sign Language Glove</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
    <div class="ui container">
        <h2 class="page-header ui block header">
            <i class="american sign language interpreting icon"></i>
            <div class="content">
                Backend Test Portal
                <div class="sub header">
                    Average ping/pong latency: <b><span id="ping-pong"></span>ms</b>
                </div>
            </div>
        </h2>
        <!-- <p>Async mode is: <b>{{ async_mode }}</b></p> -->
        <div class="ui input fluid action field">
            <input type="text" id="emit_data" placeholder="Hello">
            <div id="echo" class="ui button">Echo</div>
        </div>
        <div class="ui input fluid action field">
            <input type="text" id="broadcast_data" placeholder="I'm broadcasting!">
            <div id="broadcast" class="ui button">Broadcast</div>
        </div>
        <div class="ui input fluid action field">
            <input type="text" id="msg_data" value="0 0 0 0 0 0 600 600 600 600 600" placeholder="Data">
            <div id="msg" class="ui button">Predict</div>
        </div>
        <div id="disconnect" class="ui basic red button disconnect">Disconnect</div>
        <!-- <h2>Receive:</h2>
        <div id="log"></div> -->
        <div class="ui raised very padded text segment">
            <h2 class="ui header">Responses from Server</h2>
            <div id="log"></div>
        </div>
    </div>
</body>

</html>